.other-col{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  height: 10%;
}

.box {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

